@import '../../../assets/styles/colors';

.top-menu-lead {
  font-style: italic;
  font-weight: 600;
  color: $CURIOUS_BLUE;
}

@media screen and (max-width: 600px) {
  .top-menu-lead {
    padding-left: 10px;
  }
}
